# Ignore everything by default
*

# Allow git config files
!.gitignore
!.gitattributes
!requirements.txt

# Allow mmgroundingdino directory
!mmgroundingdino/
!mmgroundingdino/**

# Allow dataset
!my_dataset/
!my_dataset/**
